* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
select {
    font-family: 'Alegreya';
}

.container {
    background-color: transparent;
    position: relative;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;
}

.btn-theam {
    width: 30rem;
    height: 6.3rem;
    display: inline-block;
    background-color: #C8191C;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding-top: 1.2rem;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
}

nav ul {
    display: flex;
}

header nav ul li a {
    margin-right: 5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}


/* ******************* Hero Section **************** */

#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    height: 100vh;
    position: relative;

}

#hero::before {
    content: '';
    background-image: url(../images/hero-banner.png);
    inset: 0;
    position: absolute;
    background-size: 100% 100%;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-data {
    position: relative;
    padding-top: 37.7rem;
    text-align: center;

}

.hero-data h1 {
    font-weight: 700;
    font-size: 129px;
    line-height: 170px;
    text-align: center;
    color: #FFFFFF;
}

span {
    color: #C8191C;
}

.hero-data p {
    width: 90.6rem;
    text-align: center;
    margin: 0 auto;
    padding: 5.5rem 0;
}

/* ***************************************************/

/* ************** Discover Section ***************** */

#discover {
    padding: 24.5rem 0 20rem 0;
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
}

.discover-symbol h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 2rem;
}

#discover .discover-symbol>* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover-about {
    padding: 24.5rem 0 20rem 0;
    position: relative;
}

.discover-about p {
    padding-top: 6rem;
}

.discover-about h5 {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 1.8rem;
    width: 574px;
    height: 456px;
}

.discover-about .btn-theam {
    margin-top: 10rem;
}

.discover-about .border-end {
    padding-right: 11.5rem;
    border-right-color: 2px solid #FFFFFF;
}


/* ***************Super Section************** */

#super {
    padding: 24.5rem 0 20rem 0;
    background: linear-gradient(180deg, #000000 37.37%, #C8191C 231.27%);
}

#super h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    color: #FFFFFF;
}

.super-img img {
    width: 100%;
    padding-left: 8.8rem;
}

.col-8 h2 {
    margin-top: 7rem;
    padding-left: 10rem;
}

.super-data p {
    margin-top: 25px;
    width: 485px;

}

/* ****************************************** */

/* ************** Services Section ************* */

#services {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
}


#services h2,
h6 {
    text-align: center;
}

#services h2 {
    min-width: 14.33rem;
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.service-box {
    border: 2px solid white;
    padding: 5rem 6rem;
}

.service-box img {
    width: 100%;
}

.service-box h5 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 5rem;
}

.service-box p {
    padding-top: 2rem;
}

#services .row>*:nth-child(odd) {
    padding: 7.5rem 7.5rem 7.5rem 4.2rem;
}

#services .row>*:nth-child(even) {
    padding: 7.5rem 7.5rem 7.5rem 4.2rem;
}

/* ******************************************** */

/*********why section*********/

#why {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
}

#why .why-symbol {
    padding-top: 13.2rem;
}

#why p {
    width: 39.5rem;
    padding-top: 3rem;
}

#why h2 {
    text-align: center;
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#why h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 3rem;
}

#why .why-symbol>* {
    align-items: center;
    flex-direction: column;
    display: flex;
}

#why h6 {
    text-align: center;
}

/* ************************************************** */


/**********science section***********/

#science {
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
}

#science h6,
h2 {
    text-align: center;
    align-items: center;
}

#science h2 {
    max-width: 105.4rem;
    margin: 0 auto;
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#science .science-data {
    padding: 2.4rem 0 2.4rem 6rem;
    /* max-width: 15.6rem; */
}

#science .science-data h5 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#science .row>* {
    display: flex;
}

.justify-content-start {
    justify-content: flex-start !important;
    column-gap: 81px;
    padding-top: 10rem;
}

.justify-content-end {
    justify-content: flex-end !important;
    column-gap: 81px;
    padding-top: 10rem;
}

#science .btn-theam {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

.client .partner-main-row {
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
}

.client h6 {
    margin-bottom: 1.5rem;
}

.client h5 {
    font-weight: 700;
    font-size: 100px;
    line-height: 136px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

/* *************************************************** */

/* **************** Appointment Section ************** */

#appointment {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    padding: 0 0 20rem 0;
}

.appointment-1 h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;
    justify-content: flex-start;
}

.appointment-1 h3 {
    width: 452px;
    height: 342px;
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-primary {
    width: 300px;
    height: 63px;
    background: #C8191C;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 8rem;
}

#appointment .appointment-1 {
    margin-top: 25rem;
}

.appointment-main .appointment-data {
    background-color: transparent;
    color: #fff;
    width: 435px;
    height: 100px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 2px solid #FFFFFF;
}

.appointment-main .appointment-font {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8rem 0 3rem 0;
}

#appointment input::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

/* *******************Become Section ****************** */

#become {
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
    position: relative;

}

#become .become-main h3 {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#become::before {
    background: url(../images/Vector.png);
    content: '';
    inset: 0;
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
}

.become-main {
    padding: 10.5rem 0;
    text-align: center;
}

.become-main p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 6rem;
}

.become-main .btn-theme {
    background-color: #C8191C;
    color: #FFFFFF;
    padding: 20px 50px;
    font-weight: 700;
    font-size: 24px;
}

/* *************************************************** */

/* ***************Membership Section***************** */

#membership {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding: 0 0 20rem 0;
}

#membership h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #C8191C;
    padding-top: 20rem;
}

#membership h3 {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#membership .container .row {
    justify-content: center;
    gap: 10rem;
    padding-top: 8rem;
}

#membership .container .col-md-4-border {
    width: 466px;
    height: 706px;
    border: 2px solid white;
    padding: 60px 77px 60px 50px;
    position: relative;
}

#membership .container .col-md-4-border h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#membership .container .col-md-4-border span {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#membership .col-md-4-border ul li {
    display: flex;
    gap: 2rem;
    line-height: 2rem;
    padding-top: 4.2rem;
    align-items: center;
}

#membership .col-md-4-border ul li img {
    width: 48px;
    height: 48px;
}

#membership .col-md-4-border ul li img p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

#membership .btn-theme {
    background-color: #C8191C;
    color: #FFFFFF;
    padding: 20px 82px 20px 95px;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 60rem;
    left: 7rem;
}

#membership .col-md-4-border:hover {
    background-color: #C8191C;
}

#membership .col-md-4-border:hover .btn-theme {
    background-color: #FFFFFF;
    color: #C8191C;
}

/* *************************************************** */

/* *************************************************** */

@media screen and (min-width: 1650px) {
    .container {
        max-width: 150rem;
    }
}


@media screen and (min-width: 1920px) {
    .container {
        max-width: 170rem;
    }
}